asgiref==3.5.0
certifi==2021.10.8
charset-normalizer==2.0.12
dj-database-url==0.5.0
Django==3.2.12
django-cors-headers==3.0.2
django-filter==2.3.0
django-heroku==0.3.1
django-js-asset==1.2.2
django-mptt==0.13.4
django-on-heroku==1.1.2
django-utils-six==2.0
djangorestframework==3.13.1
djangorestframework-jwt==1.11.0
gunicorn==20.0.4
idna==3.3
Markdown==3.1.1
psycopg2==2.9.3
psycopg2-binary==2.8.2
PyJWT==1.7.1
pytz==2019.1
requests==2.27.1
sqlparse==0.3.0
typing_extensions==4.1.1
urllib3==1.26.8
whitenoise==6.0.0
