/*

LIST CSS

*/

/* Numbered lists like 1, 1.1, 2.2.1... */
/*ol li {*/
/*	display: block;*/
/*}*/

/*!* hide original list counter *!*/
/*ol > li:first-child {*/
/*	counter-reset: item;*/
/*}*/

/*!* reset counter *!*/
/*ol > li {*/
/*	counter-increment: item;*/
/*	position: relative;*/
/*}*/

/*!* increment counter *!*/
/*ol > li:before {*/
/*	content: counters(item, ".") ". ";*/
/*	position: absolute;*/
/*	margin-right: 100%;*/
/*	right: 10px;*/
/*}*/

/* print counter */
ol > ol {
	padding-left: 20px;
}

ul > ul {
	padding-left: 20px;
}

ul.a {
  list-style-type: circle;
}

ul.b {
  list-style-type: square;
}

/*

TABLE CSS

*/
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width:80%;
}

th {
	padding: 5px;
	text-align: center;
}

td {
	padding: 5px;
	text-align: center;
}

/*

Link CSS

*/

.textLink:hover {
    background: -webkit-gradient(linear,left top,right top,from(#ff8a00),to(#e52e71));
    background: linear-gradient(to right,#ff8a00,#e52e71);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-shadow: none;
}